* {
    margin: 0cm;
    padding: 0cm;
}

body{
    background-color: #e8dcca;
    font-family: 'Times New Roman', serif;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 1em;
}

li a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover, a:active {
    color: beige;
}


nav {
    width: 100%;
    height: 1,5em;
    background-color: #d1bd9e;
    padding: 1em;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: medium;
    background-color: #d1bd9e;
    padding: 1em;
    margin: 1em;
    font-weight: lighter;

}

h2 , article{
    text-align: center;
}

article { 
    font-size: medium;
    background-color: #d1bd9e;
    width: 400px;
    padding: 50px;
    margin: 20px;
}

footer {
    background-color: #d1bd9e;
}

p {
    background-color: #d1bd9e;
}



.home_page {
    font-size: 50px;
    position: absolute;
    top: 90px;
    left: 30px;

}

.responsive {
     max-width: 100%;
     height: auto;
     margin-bottom: 2%;
}

.middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 20em;

}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 5%;
    width: 35em;
}


.flex-container {
    display: flex;
    justify-content: space-around;
}

.scroll-images-maui {
    background-color: #d1bd9e;
    overflow: auto;
    white-space: nowrap;
    padding: 0,2em; 
}

.scroll-images-maui img{
    padding: 1em;
}

.selfies-maui {
    width: 20em;
}
   


